<div class='modal-container'>
  <div class='overlay'> </div>
  <div class='quit' ng-click='hideModal()'>Close</div>
  <div class='dialogue'>
    <div class='content'>

    <div class="text-center">
    
      <h2 class="modal-warning">Are you sure you want to delete {{currentCustomer.first_name + ' ' + currentCustomer.last_name}}?</h2>

      <div class="card">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">{{currentCustomer.job_title}}</li>
          <li class="list-group-item">{{currentCustomer.company}}</li>
          <li class="list-group-item">{{currentCustomer.phone}}</li>
          <li class="list-group-item">{{currentCustomer.email}}</li>
          <li class="list-group-item">{{currentCustomer.address}}</li>
        </ul>
      </div><!--/card-->

      <button type="button" class="btn btn-default" ng-click="deleteCurrentCustomer()">
          <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete {{currentCustomer.first_name + ' ' + currentCustomer.last_name}}
      </button>

    </div><!--/text-center-->

    </div><!--/content-->
  </div><!--/dialogue-->
</div><!--/modal-container-->

<!--
Example customer object:
{
  _id: "56c5104bf52a18f31ae5c4a4"
  city: "Nizhniye Vyazovyye"
  company: "Tanoodle"
  country: "Russia"
  email: "sfowler0@wsj.com"
  first_name: "Steven"
  job_title: "Computer Systems Analyst II"
  last_name: "Fowler"
  street: "5240 3rd Circle"
  telephone: "7-(789)797-0263"
}
-->