<div class="row">
  <div class="container template-main">

    <div class="container col-xs-6 col-xs-offset-3 col-sm-4 col-sm-offset-4">
        <img src="assets/images/profile.png" class="profile-pic">
    </div><!--/container-->

    <div class="job-description container col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
        <h1>Full Stack Web Developer</h3>
        <h3>MongoDB. Express. Angular. Node.</h4>
    </div><!--/job-description-->

    <div class="logos container col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
      <div class="col-xs-2 logo-div"><img src="assets/images/mongodb.png" class="mongodb-logo"></div>
      <div class="col-xs-4 logo-div"><img src="assets/images/expressjs.png" class="expressjs-logo"></div>
      <div class="col-xs-2 logo-div"><img src="assets/images/angularjs.png" class="angularjs-logo"></div>
      <div class="col-xs-4 logo-div"><img src="assets/images/nodejs.png" class="nodejs-logo"></div>
    </div><!--/logos container -->

  </div><!--/container template-mai-->
</div><!--/row-->