<div class="demo-app-restful" ng-controller="customerServicePortal">
  
  <div class="container">
      <h1 class="demo-app-title">RESTful API Demo: An Internal Sales Customer Information Portal (ISCIP)</h1>
      <p class="demo-app-description"><u>Node</u> and <u>Express</u> were used to create a <u>RESTful API</u> connected to a <u>MongoDB</u> test database hosted with MongoLab. The API is being consumed by <u>Angular</u> to produce the typeahead-search results and business cards.</p>
  </div><!--/container-->


  <div class="container demo-app-restful-cards">

    <h3>Welcome to (ISCIP)</h3>
    <input type="text" class="demo-app-restful-searchbar" placeholder="Enter customer name or company..." ng-model="searchString"></input>
     
    <div class="col-xs-6 card-column">
      <div class="customer-card-brief">
        <div class="list-group">
          <customer-card-brief ng-repeat="customer in customers" ng-click="setCurrentCustomerId(customer._id)"></customer-card-brief>
        </div><!--/list-group-->
      </div><!--/customer-card-brief-->
    </div><!--/col-xs-6 card-column-->


    <div class="col-xs-6 card-column">
      <!-- Overlay Modal -Edit -->    
      <customer-modal-dialogue-edit show-modal-edit="showModalEdit" 
                               current-customer="currentCustomer" 
                               submit-changes="submitChanges(customerObject)" 
                               hide-modal="hideModalEdit()" 
                               ng-show="showModalEdit" 
                               ng-hide="!showModalEdit">
      </customer-modal-dialogue-edit>
      <!-- /Overlay Modal -Edit -->
      <customer-modal-dialogue-delete 
                                      current-customer="currentCustomer"
                                      delete-current-customer="deleteCurrentCustomer()" 
                                      hide-modal="hideModalDelete()" 
                                      ng-show="showModalDelete" 
                                      ng-hide="!showModalDelete">
      </customer-modal-dialogue-delete>

      <!-- Customer-Card-Full -->
      <customer-card-full customer="currentCustomer"
                          toggle-modal-edit="toggleModalEdit()"
                          toggle-modal-delete="toggleModalDelete()">
      </customer-card-full>
      <!-- /Customer-Card-Full -->

    </div><!--/col-xs-6 card-column-->
  </div><!--/container demo-app-restful-cards-->
</div><!--/demo-app-restful-->