<div ng-controller="customerServicePortal">
  
  <div class="container">
      <h1 class="demo-app-title">RESTul API Demo: An Internal Sales Customer Information Portal (ISCIP)</h1>
      <p class="demo-app-description"><u>Node</u> and <u>Express</u> were used to create a <u>RESTful API</u> connected to a <u>MongoDB</u> test database hosted with MongoLab. The API is being consumed by <u>Angular</u> ngResource and can be directly manipulated using Create, Read, Update, Delete <u>(CRUD)</u> and Index methods.</p>
      <p class="demo-app-description">Note the dynamic updating of the DOM with the <u>custom typeahead search</u>.</p>
  </div>


  <div class="container">
  <h3>Welcome to ISCIP</h3>
  <input type="text" class="demo-app-restful-searchbar" placeholder="Enter customer name or company..."></input>
    <div class="col-xs-6">
      <customer-card-brief customers="customers"></customer-card-brief>
    </div>
    <div class="col-xs-6">
      <customer-card-full customer="currentCustomer"></customer-card-full>
    </div>
  </div>


</div>