body {
  font-family: sans-serif;
  background-color: #18bc9c;
  color: white;
  padding-top: 100px;
}

.ng-scope{
  padding-bottom: 25px;
}
/*###########################
Nav-Bar Styling
##########################*/ 
.nav, .navbar-default {
  background-color: #2c3e50;
}

.nav .navbar-header .navbar-brand {
  padding: 0px;
}

.nav .navbar-header .navbar-brand img{
height: 100%;
width: auto;
display: block;
}

.navbar-default .navbar-nav>li>a {
  color: white;
  font-weight: bolder;
  font-size: 1.5em;
}
.navbar-default .navbar-nav >li>a:focus,
  .navbar-default .navbar-nav >li>a:hover {
      color: #18bc9c;
}

.navbar-default .navbar-toggle{

}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

.navbar-fixed-bottom{
  font-family: Helvetica;
  font-size: 1em;
  height: 25px;
  min-height: 25px;
  text-align: center;
  border: none;
}

/*###########################
Template-Main Styling
##########################*/ 
.template-main{
}

.logos1{
  margin-top: 15px;
}

.template-main .job-title h2{
  background-color: #2c3e50;
  border-radius: 5px;
  width: auto;
  font-weight: bolder;
}

.profile-pic-container {
  margin-top: 3%;
}

.profile-pic{
  max-width: 100%;
  height: auto;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}

.logos2{
  margin-top: 15px;
}

.logo {
  max-width: 100%;
  height: auto;
  display: block;
  position: relative;
}

.mongodb-logo{
  border-radius: 50%;
}

.expressjs-logo, .nodejs-logo{
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, 50%);
  -moz-transform: translate(50%, 50%);
  -o-transform: translate(50%, 50%);
  -webkit-transform: translate(50%, 50%);
}

/*###########################
Demo Apps Styling
##########################*/ 
.demo-app-title{

}
.demo-app-description{
  font-family: Helvetica;
}

/** Demo App: Restful API **/
.demo-app-restful .demo-app-restful-cards .demo-app-restful-searchbar{
  width: 100%;
  color: #18bc9c;
  font-size: 18px;
}
.demo-app-restful .demo-app-restful-cards .searchbar-glyphicon{
  background-color: #FFF;
}
.demo-app-restful .demo-app-restful-cards .card-column {
  padding-left: 0px;
  padding-right: 0px;
}
.demo-app-restful .demo-app-restful-cards .card-column .create-user-btn{
margin-top: 10px;
}
.customer-card-brief{
  margin-top: 15px;
  font-family: Helvetica;
  color: black;
  height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
}
.customer-card-brief .list-group .list-group-item{
  background-color: #2c3e50;
  color:white;
}
.customer-card-brief .list-group .list-group-item:hover{
  background-color: #18bc9c;
}

.customer-card-brief .list-group .list-group-item:focus{
  background-color: #18bc9c;
}

.customer-card-full{
  margin-top: 15px;
  font-family: Helvetica;
  height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #18bc9c;
  background-image: url('http://res.cloudinary.com/mackness-io/image/upload/v1458480129/customerCardSubmitBackground_rkslio.png');
  word-wrap: break-word;
}

.customer-card-full .panel-heading {
  background-color: #2c3e50;
}

.customer-card-full .panel-title{
  color:white;
  font-size: 40px;
  text-align: center;
  font-weight: bolder;
}
.customer-card-full .panel-body .card .list-group-item{
  color: black;
}

.customer-card-full .card-block .card-title{
  font-weight: bolder;
}

.demo-app-restful-container{

}

/** Demo App: Restful API - MODAL **/
customer-modal-dialogue-edit {
  position: absolute;
  top: -10%;
  right: 25%;
  width:150%;
  height:120%;
}
customer-modal-dialogue-delete {
  position: absolute;
  top: -10%;
  right: 25%;
  width:150%;
  height:120%;
}
customer-modal-dialogue-delete .btn{
  background-color: red;
  color: white;
}
customer-modal-dialogue-create {
  position: absolute;
  top: -10%;
  right: 25%;
  width:150%;
  height:120%;
}
.modal-container .overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index:99;
  width:100%;
  height:100%;
  background-color: #2c3e50;
  opacity: 0.8;
  border-radius: 1%;   
}
.modal-container .dialogue {
  position: absolute;
  top: 10%;
  left: 3%;
  z-index:100;
  width: 94%; 
  height: 80%;
  background-color: #18bc9c;
  background-image: url('/assets/images/customerCardSubmitBackground.png');
  border-radius: 1%;
}
.modal-container .dialogue .content {
  margin: 0 auto;
  max-width: 400px;
  text-align: left;
  color: white;
}
.modal-container .dialogue .content .card{
  color: black;
}
.modal-container .dialogue .content .input-group .input-group-addon {
  min-width:100px;
  text-align: left;
}
.modal-container .dialogue .content .form button{
  margin-right: auto;
  margin-left: auto;
}

.modal-container .quit {
  position: absolute;
  top: 3px;
  right: 5px;
  padding: 5px;
  cursor: pointer;
  font-size: 120%;
  z-index:100;
  color: white;
}

.modal-warning{
  color:white;

}

.modal-info{
  color:white;
  font-weight: bolder;
}


/*###########################
Portfolio page Styling
##########################*/ 
.portfolio-preview-container{
  padding: 5px;
  border-radius: 10px;
  padding-top: 15px;
  padding-bottom: 15px; 
  margin-top: 30px;
}

.portfolio-preview-container .header-group{
  color:white;
  font-weight: lighter;
  font-family: Helvetica;
  font-size: 30px;
  text-align: left;
  padding: 0;
}

.portfolio-preview-container .header-group a{
  color:white;
  font-weight: lighter;
  font-family: Helvetica;
  font-size: 30px;
}

.portfolio-preview-container .image-container{
  margin-top: 15px;
}

.portfolio-preview-container .preview-image{
  width: 100%;
  height: auto;
  display: block;
  float: none;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  border: 4px solid #2c3e50;
}

.portfolio-preview-container .description{
  display: block;
  font-family: serif;
  margin-top: 15px;
  text-align: left;
  font-size: 16px;
  color: white;
}
.portfolio-preview-container .description p {
  margin-bottom: 0;
}

.portfolio-preview-container .description strong{
  font-size: 20px;
  font-family: Helvetica;
}

.portfolio-preview-container a{
  color: white;
}
