<div class="panel panel-default customer-card-full">
  <div class="panel-heading">
    <h3 class="panel-title">{{customer.first_name}} {{customer.last_name}}</h3>
  </div>
  <div class="panel-body">

    <div class="card">
      <div class="card-block">
        <h3 class="card-title">{{customer.job_title}}</h3>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">{{customer.company}}</li>
        <li class="list-group-item">{{customer.telephone}}</li>
        <li class="list-group-item">{{customer.email}}</li>
        <li class="list-group-item">{{customer.street + ' ' + customer.city + ' ' + customer.country}} </li>
      </ul>
    </div>
  </div>
</div>

<!--
Example customer object:
{
  _id: "56c5104bf52a18f31ae5c4a4"
  city: "Nizhniye Vyazovyye"
  company: "Tanoodle"
  country: "Russia"
  email: "sfowler0@wsj.com"
  first_name: "Steven"
  job_title: "Computer Systems Analyst II"
  last_name: "Fowler"
  street: "5240 3rd Circle"
  telephone: "7-(789)797-0263"
}
-->