<div class='modal-container'>
  <div class='overlay'> </div>
  <div class='quit' ng-click='hideModal()'>Close</div>
  <div class='dialogue'>
    <div class='content'>

    Are you sure you want to delete abc

    </div><!--/content-->
  </div><!--/dialogue-->
</div><!--/modal-container-->

<!--
Example customer object:
{
  _id: "56c5104bf52a18f31ae5c4a4"
  city: "Nizhniye Vyazovyye"
  company: "Tanoodle"
  country: "Russia"
  email: "sfowler0@wsj.com"
  first_name: "Steven"
  job_title: "Computer Systems Analyst II"
  last_name: "Fowler"
  street: "5240 3rd Circle"
  telephone: "7-(789)797-0263"
}
-->