<!-- PT Serif Font -->
<link href='https://fonts.googleapis.com/css?family=PT+Serif' rel='stylesheet' type='text/css'>


<div class="row portfolio-container ">

<!-- ISCIP -->

    <div class= "portfolio-preview-container col-xs-12 col-sm-6 col-lg-4">
      
      <div class="header-group col-xs-12">
          <a href="#/portfolio/customerserviceportal" target="_blank">
           REST/CRUD
          </a>
      </div>

      <div class="row col-xs-12 image-container">
        <a href="#/portfolio/customerserviceportal" target="_blank">
          <img class="preview-image" src="assets/images/iscip.png">  
        </a>    
      </div>

      <div class="row description col-xs-12">
        <p><strong>Front-End</strong></p>
        <p>
          <a href="https://angularjs.org/" target="_blank">Angular</a>, 
          <a href="https://www.w3.org/html/" target="_blank">HTML5</a>/<a href="https://www.w3.org/Style/CSS/" target="_blank">CSS3</a>
        </p>
        <p><strong>Back-End</strong></p>
        <p>
          <a href="http://www.ecmascript.org/" target="_blank">Javascript</a>, 
          <a href="https://nodejs.org/" target="blank">Node</a>/<a href="www.expressjs.com" target="_blank">Express</a>, 
          <a href="www.mongodb.com" target="_blank">MongoDB</a>@<a href="https://mlab.com/" target="_blank">mLab</a>
        </p>
        <p><strong>Build/Platform/VCS</strong></p>
        <p>
          <a href="https://www.heroku.com/" target="_blank">Heroku</a>, 
          <a href="http://gulpjs.com/">Gulp JS</a>/<a href="http://www.gzip.org/">GZip </a>
          <a href="http://github.com/">Github</a>
        </p>
      </div>
    </div>

<!-- Whatsup-Web -->
    <div class= "portfolio-preview-container col-xs-12 col-sm-6 col-lg-4">
      <div class=" header-group col-xs-12 col-lg-8 col-lg-offset-2">
          <a href="http://whatsup-web.herokuapp.com/" target="_blank">
            Real-Time Chat
          </a> 
      </div>
      <div class="row col-xs-12 image-container">
        <a href="http://whatsup-web.herokuapp.com/" target="_blank">
          <img class="preview-image" src="assets/images/whatsup-web.png">  
        </a>   
      </div>

      <div class="row description col-xs-12">
        <p><strong>Front-End</strong></p>
        <p>
          <a href="https://facebook.github.io/react/" target="_blank">React JS</a> , 
          <a href="https://www.w3.org/html/" target="_blank">HTML5</a>/<a href="https://www.w3.org/Style/CSS/" target="_blank">CSS3</a>
        </p>
        <p><strong>Back-End</strong></p>
        <p>
          <a href="http://www.ecmascript.org/" target="_blank">Javascript</a>, 
          <a href="https://www.meteor.com/" target="_blank">Meteor JS</a>, 
          <a href="www.mongodb.com" target="_blank">MongoDB</a>@<a href="https://mlab.com/" target="_blank">mLab</a>
        </p>
        <p><strong>Build/Platform/VCS</strong></p>
        <p>
          <a href="https://www.heroku.com/" target="_blank">Heroku</a>, 
          <a href="http://gulpjs.com/">Gulp JS</a>/<a href="http://www.gzip.org/">GZip </a>, 
          <a href="http://github.com/">Github</a>
        </p>
      </div>

    </div>
    
    <!-- Bootstrap - Add clearance div with display:block if viewport SMALL/MEDIUM -->
    <div class="clearfix visible-sm-block visible-md-block"></div>

<!-- PORTFOLIO SITE -->

    <div class= "portfolio-preview-container col-xs-12 col-sm-6 col-lg-4">
      
      <div class=" header-group col-xs-12 col-lg-8 col-lg-offset-2">
        <h3>
          <a href="#/">
           Mackness.io
          </a>
        </h3>   
      </div>

      <div class="row col-xs-12 image-container">
        <a href="#/">
          <img class="preview-image" src="assets/images/macknessio.png">  
        </a> 
      </div>

      <div class="row description col-xs-12">
        <p><strong>Front-End</strong></p>
        <p>
          <a href="https://angularjs.org/" target="_blank">Angular</a>, 
          <a href="https://www.w3.org/html/" target="_blank">HTML5</a>/<a href="https://www.w3.org/Style/CSS/" target="_blank">CSS3</a>
        </p>
        <p><strong>Back-End</strong></p>
        <p>
          <a href="http://www.ecmascript.org/" target="_blank">Javascript</a>, 
          <a href="https://nodejs.org/" target="blank">Node</a>/<a href="www.expressjs.com" target="_blank">Express</a>, 
          <a href="www.mongodb.com" target="_blank">MongoDB</a>@<a href="https://mlab.com/" target="_blank">mLab</a>
        </p>
        <p><strong>Build/Platform/VCS</strong></p>
        <p>
          <a href="https://www.heroku.com/" target="_blank">Heroku</a>, 
          <a href="http://gulpjs.com/">Gulp JS</a>/<a href="http://www.gzip.org/">GZip </a>, 
          <a href="http://github.com/">Github</a>
        </p>
      </div>

    </div>

    <!-- Bootstrap - Add clearance div with display:block if viewport LG -->
    <div class="clearfix visible-lg-block"></div>

<!-- ##########
   OTHER PROJECTS 
   ##############-->

 <!-- GENGIS KHANDLE -->
    <div class= "portfolio-preview-container col-xs-12 col-sm-6 col-lg-4">
      
      <div class=" header-group col-xs-12 col-lg-8 col-lg-offset-2">
        <h3>
          <a href="https://www.mql4.com/" target="_blank">
            Gengis Khandle
          </a>
        </h3>   
      </div>

      <div class="row col-xs-12 image-container">
        <a href="https://www.mql4.com/" target="_blank">
          <img class="preview-image" src="assets/images/metatrader.png">  
        </a>  
      </div>

      <div class="row description col-xs-12">
        <p><strong>Front-End</strong></p>
        <p>
          <a href="http://www.metatrader4.com/en" target="_blank">Metatrader 4</a>, 
          <a href="https://www.w3.org/html/" target="_blank">HTML5</a>/<a href="https://www.w3.org/Style/CSS/" target="_blank">CSS3</a>
        </p>
        <p><strong>Back-End</strong></p>
        <p>
          <a href="https://www.mql4.com/" target="_blank">MetaQuotes Language 4 (MQL4)</a> 
        </p>
        <p><strong>Build/Platform/VCS</strong></p>
        <p>
          <a href="https://www.virtualbox.org/" target="_blank">Oracle VM Virtualbox</a>, 
          <a href="http://windows.microsoft.com">Windows 7</a>, 
          <a href="http://github.com/">Github</a>
        </p>
      </div>
   
    </div>

<!-- Bootstrap - Add clearance div with display:block if viewport SMALL/MEDIUM -->
    <div class="clearfix visible-sm-block visible-md-block"></div>

<!-- MINI WRESTLE SURVIVAL-->
    <div class= "portfolio-preview-container col-xs-12 col-sm-6 col-lg-4">
      
      <div class=" header-group col-xs-12 col-lg-8 col-lg-offset-2">
        <h3>
          <a href="https://play.google.com/store/apps/details?id=com.chopstickphoenix.miniwrestlesurvival.android&hl=en" target="_blank">
            Mini Wrestle Survival
          </a>
        </h3>
      </div>

      <div class="row col-xs-12 image-container">
        <a href="https://play.google.com/store/apps/details?id=com.chopstickphoenix.miniwrestlesurvival.android&hl=en" target="_blank">
          <img class="preview-image" src="assets/images/miniwrestle.png">  
        </a>  
      </div>

      <div class="row description col-xs-12">
        <p><strong>Front-End</strong></p>
        <p>
          <a href="https://www.java.com" target="_blank">Java</a>, 
          <a href="https://www.android.com/" target="_blank">Android</a>, 
          <a href="https://libgdx.badlogicgames.com" target="_blank">LibGDX</a>
        </p>
        <p><strong>Back-End</strong></p>
        <p>
          <a href="swarmconnect.com" target="_blank">Swarm API 
        </p>
        <p><strong>Build/Platform/VCS</strong></p>
        <p>
          <a href="https://eclipse.org" target="_blank">Eclipse</a>, 
          <a href="http://github.com/">Github</a>
        </p>
      </div>
</div>

