<div class="template-main">

  <div class="profile-pic-container col-xs-8 col-xs-offset-2 col-sm-8 col-sm-offset-2 text-center">
      <img src="assets/images/profile.png" class="profile-pic">
  </div><!--/profile-pic-->
      
  <div class="job-title col-xs-12 text-center">
    <h2>Junior Full Stack Web Developer</h2>        
  </div>

  <div class="logos1 col-xs-12 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
    <div class="col-xs-3 logo-div"><img src="assets/images/mongodb.png" class="mongodb-logo logo"></div>
    <div class="col-xs-3 logo-div"><img src="assets/images/expressjs.png" class="expressjs-logo logo"></div>
    <div class="col-xs-3 logo-div"><img src="assets/images/angularjs.png" class="angularjs-logo logo"></div>
    <div class="col-xs-3 logo-div"><img src="assets/images/nodejs.png" class="nodejs-logo logo"></div>
  </div><!--/logos container -->

  <div class="logos2 col-xs-12 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3  col-lg-4 col-lg-offset-4">
    <div class="col-xs-3 logo-div"><img src="assets/images/gulp.png" class="gulp-logo logo"></div>
    <div class="col-xs-3 logo-div"><img src="assets/images/js.png" class="js-logo logo"></div>
    <div class="col-xs-3 logo-div"><img src="assets/images/html5.png" class="html5-logo logo"></div>
    <div class="col-xs-3 logo-div"><img src="assets/images/css3.png" class="css3-logo logo"></div>
  </div><!--/logos container 2 --> 



</div>

