<div class="demo-app-restful" ng-controller="customerServicePortal">
  
  <div class="container">
      <h1 class="demo-app-title">RESTful API Demo: An Internal Sales Customer Information Portal (ISCIP)</h1>
      <p class="demo-app-description"><u>Node</u>&nbsp;and&nbsp;<u>Express</u>&nbsp;were used to create a&nbsp;<u>RESTful API</u>&nbsp;connected to a&nbsp;<u>MongoDB</u>&nbsp;test database hosted with MongoLab. The API is being consumed by&nbsp;<u>Angular</u>&nbsp;to produce the typeahead-search results and business cards.</p>
  </div><!--/container-->


  <div class="container demo-app-restful-cards">

    <!-- ##### 
         Welcome Message and Search bar 
         #####  --> 
    <h3>Welcome to (ISCIP)</h3>
    <div class="input-group">
      <span class="input-group-addon searchbar-glyphicon">
          <i class="glyphicon glyphicon-search"></i>
      </span>
      <input type="text" class="demo-app-restful-searchbar form-control" placeholder="Enter customer name or company..." ng-model="searchString">
    </div>

    
    <!-- ##### 
         Business Cards - Brief
         #####  -->     
    <div class="col-xs-6 card-column" ng-show="customers[0]">
      <div class="customer-card-brief">
        <div class="list-group">
          <customer-card-brief ng-repeat="customer in customers" ng-click="setCurrentCustomerId(customer)"></customer-card-brief>
        </div><!--/list-group-->
      </div><!--/customer-card-brief-->
      <div class="text-center">
        <button type="button" class="btn btn-default create-user-btn" ng-click="toggleModalCreate()">
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>Create New User
        </button>
      </div>
    </div><!--/col-xs-6 card-column-->

    <!-- ##### 
         Modal Dialogues
         #####  --> 
    <div class="col-xs-6 card-column" ng-show="customers[0]">
      <!-- Edit -->    
      <customer-modal-dialogue-edit 
                      show-modal-edit="showModalEdit" 
                      current-customer="currentCustomer" 
                      submit-changes="submitChanges(customerObject)" 
                      hide-modal="hideModalEdit()" 
                      ng-show="showModalEdit" 
                      ng-hide="!showModalEdit">
      </customer-modal-dialogue-edit>
      <!-- Delete -->
      <customer-modal-dialogue-delete 
                      current-customer="currentCustomer" 
                      delete-current-customer="deleteCurrentCustomer()" 
                      hide-modal="hideModalDelete()" 
                      ng-show="showModalDelete" 
                      ng-hide="!showModalDelete">
      </customer-modal-dialogue-delete>
      <!-- Create -->
      <customer-modal-dialogue-create
                      show-modal-create="showModalCreate" 
                      new-customer-object="newCustomer"
                      submit-new-customer="submitNewCustomer(customerObject)" 
                      hide-modal="hideModalCreate()" 
                      ng-show="showModalCreate" 
                      ng-hide="!showModalCreate">
      </customer-modal-dialogue-create>

    <!-- ##### 
         Business Cards - Full
         #####  --> 
      <customer-card-full customer="currentCustomer"
                          toggle-modal-edit="toggleModalEdit()"
                          toggle-modal-delete="toggleModalDelete()">
      </customer-card-full> <!-- /Customer-Card-Full -->
      
    </div><!--/col-xs-6 card-column-->
  </div><!--/container demo-app-restful-cards-->
</div><!--/demo-app-restful-->